
body {
    background-color: #F0F4F8;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #001f3f;
    color: #F0F4F8;
    padding: 20px;
    text-align: left;
}

main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

form {
    background-color: white;
    padding: 25px;
    width: 60%;
    border: 2px solid #004b87;
}

label {
    color: #001f3f;
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin: 5px;
    border: 1px solid #004b87;
}

.gender {
    margin: 10px 0;
}

button {
    padding: 18px;
    background-color: #001f3f;
    color: white;
    border: none;
    margin-right: 8px;
}

button:hover {
    background-color: #004b87;
}

#error {
    color: red;
}