body{
    margin:0;
    background-color: #8faf78;
}
h1{
    margin:0;
    background-color: #294936;
    color: white;
    text-align: left;
    padding: 50px;
    font-size: 35px;
}
div{
    border: 10px;
    clear:both;
}