body{
                background-color: #8faf78;
                margin:0;
            }
            h1{
                background-color: #294936;
                color: white;
                text-align: center;
                padding: 50px;
                font-size: 35px;
                margin:0;
            }
            div{
                align-self: center;
                background-color: #294936;
                width: 80 px;
                height: 150 px;
                text-align: center;
                color: white;
                margin-left:auto;
                margin-right:auto;
                margin-top:120px;

            }