body{
    background-color: #F0F4F8;
    margin: 0;
}
header{
    background-color: #001f3f;
    color:#F0F4F8;
    padding: 2%;
}
header button{
    margin-left: 70%;
    padding: 10px;
    background-color: #F0F4F8;
    color:#001f3f;
    align-self: right;
    border: none;
    margin-top: 0;
    position: absolute;
    margin-bottom: 4%;
}
p{
    font-size: 18px;
    color: #001f3f;
}
footer {
    background-color: #0C2C47;
    color: #F0F4F8;
    text-align: center;
    padding: 15px;
}.card-container{
    margin-top: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, ifr);
    gap: 25px;
    max-width: 1400px;
    align-items: center;
    align-self: center;
    margin-left: 30px;
}
.card-container a{
    text-decoration: none;
    color:#001f3f;
}
.card h3{
    font-size: 25px;
    font-weight: bold;
}
.card{
    background-color: #F0F4F8;
    padding: 30px 20px;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgb(0,0,0.1);
    min-HEIGHT: 70%;
    max-width: 110%;
    margin-top: 20px;
}
.dark {
    background-color: #121212;
    color: white;
}

.dark header {
    background-color: #000000;
}

.dark nav {
    background-color: #1f1f1f;
}

.dark nav a {
    color: white;
}

.dark section {
    background-color: #1e1e1e;
    color: white;
}

.dark .card {
    background-color: #1e1e1e;
    color: white;
}

.dark p {
    color: white;
}

.dark table {
    background-color: #1e1e1e;
    color: white;
}

.dark th {
    background-color: #333333;
    color: white;
}

.dark td {
    color: white;
}

.dark footer {
    background-color: #000000;
    color: white;
}