table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: #f0f4f8;
}
table, th, td{
    border: 2px solid black;
}
th{
    background-color: #6a9bd1;
    color: #001f3f;
}
th,td{
    padding: 10px;
    text-align: center;
}
body{
    background-color: #F0F4F8;
    margin: 0;
}
header{
    background-color: #001f3f;
    color:#F0F4F8;
    padding: 2%;
}
header button{
    margin-left: 70%;
    padding: 10px;
    background-color: #F0F4F8;
    color:#001f3f;
    align-self: right;
    border: none;
    margin-top: 0;
    position: absolute;
    margin-bottom: 4%;
}
p{
    font-size: 18px;
    color: #001f3f;
}
footer {
    background-color: #0C2C47;
    color: #F0F4F8;
    text-align: center;
    padding: 15px;
}
.dark {
    background-color: #121212;
    color: white;
}

.dark header {
    background-color: #000000;
}

.dark nav {
    background-color: #1f1f1f;
}

.dark nav a {
    color: white;
}

.dark section {
    background-color: #1e1e1e;
    color: white;
}

.dark .card {
    background-color: #1e1e1e;
    color: white;
}

.dark p {
    color: white;
}

.dark table {
    background-color: #1e1e1e;
    color: white;
}

.dark th {
    background-color: #333333;
    color: white;
}

.dark td {
    color: white;
}

.dark footer {
    background-color: #000000;
    color: white;
}