 body{
                background-color: #8faf78;
                margin:0;
            }
            h1{
                margin:0;
                background-color: #294936;
                color: white;
                text-align: center;
                padding: 3%;
                font-size: 35px;
            }
            h2{
                text-align: left;
                margin-left: 0.5%;
                text-decoration: solid;
                color:#294936;
            }
            h3{
                text-align: left;
                margin-left: 0.5%;
                text-decoration: solid;
            }
            div{
                text-align: left;
            }