 body{
                margin:0;
                background-color: #8faf78;
            }
            h1{
                background-color: #294936;
                color: white;
                text-align: center;
                padding: 50px;
                font-size: 35px;
                margin: 0;
            }
            h2{
                margin: 10px;
                color: black;
                text-align: left;
            }
            h3{
                padding: 15px;
                text-align: center;
                font-size: 25px;
                margin:0%;
                background-color: #294936;
                color: white;
            }
            table{
                text-align: center;
                align-items: center;
                margin: auto;
                width: 80%;
                padding: 10px;
                border-collapse: collapse;
                border-color: #333333;
                overflow-x: auto;
            }